@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App {
  background-color:#081530;
  color:white
}
.enter{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;

}